body{
    background-color: rgb(159, 219, 63);
}

h1{
    color:rgb(90, 68, 214);
    background-color: cornsilk;
}
#esboco
{
    color: red;
}
#pontuacao
{
    font-size: 30px;
    margin-left: 10px;
}
#tempo
{
    font-size: 30px;
    margin-right: 10px;
}
p, span 
{
     padding-top:10px; font-family: 'Arial', sans-serif; font-size:25px;
}
